; begin auth token
//pkgs.dev.azure.com/msazure/_packaging/AzureIOTSaas/npm/registry/:username=msazure
//pkgs.dev.azure.com/msazure/_packaging/AzureIOTSaas/npm/registry/:_password=OXNHYjFTZ3dOM0tiaTFZWU9IR214aVlMWEhRY2FTblIxUVc3VGx5UVg2NmpKYnNvb3N2ZUpRUUo5OUFKQUNBQUFBQUFBcm9oQUFBU0FaRE9aYk1U
//pkgs.dev.azure.com/msazure/_packaging/AzureIOTSaas/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/msazure/_packaging/AzureIOTSaas/npm/:username=msazure
//pkgs.dev.azure.com/msazure/_packaging/AzureIOTSaas/npm/:_password=OXNHYjFTZ3dOM0tiaTFZWU9IR214aVlMWEhRY2FTblIxUVc3VGx5UVg2NmpKYnNvb3N2ZUpRUUo5OUFKQUNBQUFBQUFBcm9oQUFBU0FaRE9aYk1U
//pkgs.dev.azure.com/msazure/_packaging/AzureIOTSaas/npm/:email=npm requires email to be set but doesn't use the value
; end auth token