; begin auth token
//pkgs.dev.azure.com/msazure/_packaging/AzureIOTSaas/npm/registry/:username=msazure
//pkgs.dev.azure.com/msazure/_packaging/AzureIOTSaas/npm/registry/:_password=OWJGOGpaTkFqOWlXZXh6OGlwaEo1WHprUkVWV0swYkw2NTVibmtUVTBKNGpzbGVQUFpMUUpRUUo5OUFKQUNBQUFBQUFBcm9oQUFBU0FaRE9zQjJV
//pkgs.dev.azure.com/msazure/_packaging/AzureIOTSaas/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/msazure/_packaging/AzureIOTSaas/npm/:username=msazure
//pkgs.dev.azure.com/msazure/_packaging/AzureIOTSaas/npm/:_password=OWJGOGpaTkFqOWlXZXh6OGlwaEo1WHprUkVWV0swYkw2NTVibmtUVTBKNGpzbGVQUFpMUUpRUUo5OUFKQUNBQUFBQUFBcm9oQUFBU0FaRE9zQjJV
//pkgs.dev.azure.com/msazure/_packaging/AzureIOTSaas/npm/:email=npm requires email to be set but doesn't use the value
; end auth token