; begin auth token
//pkgs.dev.azure.com/msazure/_packaging/AzureIOTSaas/npm/registry/:username=msazure
//pkgs.dev.azure.com/msazure/_packaging/AzureIOTSaas/npm/registry/:_password=[NPM_TOKEN]
//pkgs.dev.azure.com/msazure/_packaging/AzureIOTSaas/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/msazure/_packaging/AzureIOTSaas/npm/:username=msazure
//pkgs.dev.azure.com/msazure/_packaging/AzureIOTSaas/npm/:_password=[NPM_TOKEN]
//pkgs.dev.azure.com/msazure/_packaging/AzureIOTSaas/npm/:email=npm requires email to be set but doesn't use the value
; end auth token